#WholeWebsite {
	background-color: #cccc00;
	border-style: inset;
	border-width: 7px;
	padding: 10px;
}

#Index {
	background-color: #999900;
	border-style: inset;
	border-width: 3px;
	border-radius: 2px;
	margin: 10px;
	text-align: center;

}

#FileMaker {
	background-color: #999900;
}

#Modules {
	background-color: #999900;
	border-style: inset;
	border-width: 3px;
	border-radius: 2px;
	margin: 10px;
	text-align: center;

}

#HTMLButtonTab {
	background-color: #999900;
	border-style: inset;
	border-width: 3px;
	border-radius: 2px;
	margin: 10px;
	height: 25px;
	width: 75px;
	padding: 20px;
	text-align: center;
	
}

#CSSButtonTab {
	background-color: #999900;
	border-style: inset;
	border-width: 3px;
	border-radius: 2px;
	margin: 10px;
	height: 25px;
	width: 75px;
	padding: 20px;
	text-align: center;
	
}

#JavaScriptButtonTab {
	background-color: #999900;
	border-style: inset;
	border-width: 3px;
	border-radius: 2px;
	margin: 10px;
	height: 25px;
	width: 75px;
	padding: 20px;
	text-align: center;

}